.App {
  text-align: center;
  display: flex;
  align-items: flex-end;
}
ul{
  list-style: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.photoicon{
  background-color: white;
  border-radius: 50%;
  color:#336CEF;
  padding: 10px;
  position: absolute;
  right: -5px;
  bottom: -5px;
}
.input::placeholder{
  color: #ACC0F5;
}
.foc:focus{
  border:none;
  outline: none;
}
